services:
  openvpn:
    image: kylemanna/openvpn
    container_name: openvpn
    restart: always
    cap_add:
      - NET_ADMIN
    ports:
      - "1194:1194/udp"
    volumes:
      - openvpn_openvpn_data:/etc/openvpn

  filebrowser:
    image: filebrowser/filebrowser
    container_name: openvpn-files
    restart: always
    ports:
      - "8585:80"
    volumes:
      - ./clients:/srv
    command: --noauth

volumes:
  openvpn_openvpn_data:
    external: true
