services:
  openvpn:
    image: kylemanna/openvpn
    container_name: openvpn
    restart: always
    cap_add:
      - NET_ADMIN
    ports:
      - "1194:1194/udp"
    volumes:
      - openvpn_openvpn_data:/etc/openvpn
      - ./ccd:/etc/openvpn/ccd
    # Bloquear tráfico entre gateways (IPs 192.168.255.100-200)
    command: >
      sh -c "iptables -A FORWARD -s 192.168.255.100/26 -d 192.168.255.100/26 -j DROP && 
             ovpn_run"

  openvpn-admin:
    build: ./admin
    container_name: openvpn-admin
    restart: always
    ports:
      - "8888:8080"
    environment:
      - ADMIN_PASSWORD=${ADMIN_PASSWORD:-SecurePassword123}  # Cambiar por una contraseña segura
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker:ro
      - ./clients:/app/clients
      - ./ccd:/app/ccd
    depends_on:
      - openvpn

volumes:
  openvpn_openvpn_data:
    external: true
