services:
  openvpn:
    image: kylemanna/openvpn
    container_name: openvpn
    restart: always
    cap_add:
      - NET_ADMIN
    ports:
      - "1194:1194/udp"
    volumes:
      - openvpn_openvpn_data:/etc/openvpn

  openvpn-admin:
    build: ./admin
    container_name: openvpn-admin
    restart: always
    ports:
      - "8888:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./clients:/app/clients
    depends_on:
      - openvpn

volumes:
  openvpn_openvpn_data:
    external: true
